<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.commb.dao.BookDao">

    <select id="userFeed" parameterType="Integer" resultMap="feedInformation">

    </select>



<!--    <resultMap type="Feed" id="feedInformation">-->
<!--        <result column="fid" property="id"/>-->
<!--        <result column="create_at" property="createAt"/>-->
<!--        <result column="content" property="content"/>-->
<!--        <result column="f_file_url" property="feedFileUrl"/>-->
<!--        <result column="is_thumb" property="isThumb"/>-->
<!--        <result column="thumb_cnt" property="thumbCnt"/>-->
<!--        <result column="uid" property="user.id"/>-->
<!--        <result column="nickname" property="user.nickname"/>-->
<!--        <result column="u_file_url" property="user.userFileUrl"/>-->
<!--        <result column="bid" property="book.id"/>-->
<!--        <result column="book_name" property="book.bookName"/>-->
<!--    </resultMap>-->

</mapper>