<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.commb.dao.KeywordDao">

    <select id="getKeywordRecommend" parameterType="Integer" resultType="Keyword">
        SELECT keyword
        FROM book_shelves bs, book_keyword bk, keyword k
        WHERE bs.user_id = #{userId} AND bs.book_id = bk.book_id AND k.id = bk.keyword_id
        GROUP BY keyword
        ORDER BY COUNT(keyword) DESC
        LIMIT 6
    </select>

    <insert id="getAndSetRandomKeyword">
        INSERT INTO daily_event(keyword_id, create_at) VALUES(
                                                     (SELECT keyword.id
                                                      FROM keyword INNER JOIN (SELECT id
                                                                               FROM keyword
                                                                               ORDER BY RAND()
                                                                               LIMIT 2) AS k
                                                                   inner JOIN (SELECT keyword_id
                                                                               FROM daily_event
                                                                               ORDER BY id DESC
                                                                               LIMIT 1) AS d
                                                                              ON k.id = keyword.id AND d.keyword_id != k.id
                                                         LIMIT 1), DATE(NOW())
            )
    </insert>

</mapper>