.btn-1 {
  border: none;
  width: 16rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
}

.btn-1:hover {
  font-size: 1.05rem;
}

.btn-2 {
  border: none;
  width: 240px;
  height: 35px;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
}

.btn-2:hover {
  font-size: 1.05rem;
}

.btn-3 {
  border: none;
  width: 200px;
  height: 35px;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
}

.btn-3:hover {
  font-size: 1.05rem;
}

.btn-4 {
  border: none;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
}

.btn-4:hover {
  font-size: 1.05rem;
}

.btn-5 {
  border: none;
  width: 110px;
  height: 35px;
  border-radius: 20px;
  outline: none;
  font-size: 0.9rem;
  font-weight: 700;
}

.btn-5:hover {
  font-size: 0.95rem;
}

.btn-6 {
  border: none;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  font-size: 0.55rem;
}

.btn-6:hover {
  font-size: 0.6rem;
}

.btn-primary1 {
  background-color: #683ec9;
  color: #fff;
}
.btn-yellow {
  background-color: #ffdc7c;
  color: #585858;
}
.btn-grey {
  background-color: #a4a4a4;
  color: #fff;
}
.btn-red {
  background-color: #ff7777;
  color: #fff;
}
.btn-disabled {
  background-color: #585858;
  pointer-events: none;
  color: #fff;
}

.btn-text-s {
  color: #a4a4a4;
  font-size: 0.75rem;
}

.btn-text-primary {
  color: #683ec9;
  font-size: 0.75rem;
  font-weight: 500;
}
