/* IOS 버튼 디자인 변경 막기 */
input textarea button *[type="button"] {
  appearance: none; 
  -moz-appearance: none; 
  -webkit-appearance: none; 
  border-radius: 0; 
  -webkit-border-radius: 0; 
  -moz-border-radius: 0;
}


.alert-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1060;
  transform: translate(-50%, -50%);
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.3);
}

.warning-alert {
  width: 80vw;
  height: 35px;
  border-radius: 10px;
  font-size: 0.85rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 119, 119, 0.95);
  border: 1px solid #FF7777;
  color: #fff;
}
.success-alert {
  width: 80vw;
  height: 35px;
  border-radius: 10px;
  font-size: 0.85rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(151, 223, 252, 0.95);
  border: 1px solid #97DFFC;
  color: #fff;
}
.alert-top-30 {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 1060;
  transform: translate(-50%, -30%);
}
.show {
  opacity: 1;
  transition: all 0.2s;
}
.hide {
  opacity: 0;
  display: none;
  transition: all 0.2s;
}